/*TODO
1. replace .BoxA style from main.html to here
2. 
*/


/* deault font type */
*{
	font-family: "Hiragino Kaku Gothic Pro W3", "MS PGothic", sans-serif;  /*delete font written in Japanese*/
 	font-size: 100%; 
 	text-align: left;  
 	margin: 0 auto;  
 	padding: 0;  
}

/*
--------------------------------------------------------------------------------------------------------------------
Style of mainpage
--------------------------------------------------------------------------------------------------------------------
*/

/*title Box of mainpage style*/
.titleBox {
	margin: 20px;
	text-align: center;
	font-size: 200%;
	width: 800px;
	color: #173e43;	
}


/*delete .boxA in css*/

/*
--------------------------------------------------------------------------------------------------------------------
Style of contents in aframe
--------------------------------------------------------------------------------------------------------------------
*/

/* left side of contents in aframe*/

.inputpage{
	line-height: 1em;
	margin: 10px;
	padding: 10px;
	float: left;
	width:320px;
	border: solid 0px;
	border-color: #FF0000;
	color: #173e43;
		}

/*
	--------------------------------------------------------------------------------------------------------------------
	Style of contents in <ul>, <li>
	--------------------------------------------------------------------------------------------------------------------
*/

/*set up inputform <ul>*/
form#inputform ul {
	padding:0;
	margin-top:0;
		}

/*
	--------------------------------------------------------------------------------------------------------------------
	Style of contents in <ul>, <li> border lines
	--------------------------------------------------------------------------------------------------------------------
*/

	/*set up input for <ul>,<li>  set the style of list border lines*/ 
	form#inputform ul li {
		list-style:none;
		list-style-type: none;
		margin-right: 10px;
		padding:10px;
		border-bottom: 1px solid gray;
		font-size: 12px;
			}

	/*make the first <li> content with no line border（:first-child）*/ 
	form#inputform ul li:first-child {
		border-top:none;
			}

	/*(:after) clear float after <li> component */
	form#inputform ul li:after {
		content:".";
		display:block;
		height:0;
		visibility:hidden;
		clear:both; /*clear float*/
			}


        /* make a float block component with span class(in-line components) to put on form class side by side ::this style-set maybe does not work*/
        form#inputform ul li span {
            width: 13.5em;
            margin:0px;
            display:block;
            float:left;
                }


        /* font style of <li>.textfield  */
        form#inputform ul li label .txtfiled {
        width:350px;           
        /*add shadow in textfield*/
        background: #fff;
        -webkit-box-shadow: 2px 3px 5px -2px #CCC inset;
        -moz-box-shadow: 2px 3px 5px -2px #CCC inset;
        box-shadow: 2px 3px 5px -2px #CCC inset;
            }


/* made checkboxes with <p> style because I want to separate a label text and check box area
radio buttons with directry <li> style, not need to separate them */

        /*set <p> style as checkboxes*/
        form#inputform ul li p {
        margin:5px 0 0 20px;/*margin:5px 0 0 40px;*/
            }

        /*set right margin to separate label text from radio buttons(this set make also right margin of radio buttons)*/
        form#inputform ul li input {
        margin-right:0.5em;
              }


            /*チェックボックス、ラジオボタンの label要素を横に並べる*/
            form#inputform ul li p label {
            padding-right:0.3em;
            margin-right: 2em;
            display: block;
            float: left;
             }

                /*チェックボックス・ラジオボタンのinput要素とテキストがくっつかないように右マージンを少し*/
                form#inputform ul li p label input {
                margin-right:0.5em;
                }



/*チェックボックス、ラジオボタンの label要素に、ロールオーバー時の変化を指定する*/
form#inputform ul li p label:hover {
background : #FFF;
color: #09F;
}
/*チェックボックスの label要素の横幅を統一する*/
form#inputform ul li p.check label {
width: 6em; /*12em*/
}
/*送信・リセットボタンの体裁を指定*/
form#inputform ul li button {
cursor:pointer; /*←これでカーソルを指先型に変化させる*/
margin-right: 10px;
padding:0; /*これ以降はbutton要素のデフォルトの枠を消す指定*/
background:none;
border:0;
width: auto;
overflow:visible;
font-size:0;
line-height:0;
}


/*Syle of create summary button*/

.button {
	font-size: 12pt;
	text-align: center;
	margin: 10px;
		}

form#csummary {
	text-align: center;
}



.outputpage{
	margin: 10px;
	padding: 10px;
	float: left;
	width: 420px;
	border-color: #FFA500;
		}



		



input#createsummary{
	text-align: center;
 	background: #3498db;
background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.sidemenu li{
list-style:none;
margin-right: 10px;
padding-top:0.2em;
/* border-bottom: 1px solid gray; */
font-size: 14px;
}
.sidemenu {
/*padding: 10px;*/
background: none;
padding-top: 1em;
}


.outputpage {
	font-size: 12px;
}
.opetitle label {
	display: block;
	float:left;
	width: 8em;
}
.opetitle input {
	width: 25em;
}
.opeNote {
	margin-top: 20px;
}

.nihssTitle {
	display: block;
	float:left;
	width: 2em;
}

form#clipcheckbox input{
	font-size: 12pt;
	margin-left:10px;
	margin-right:10px;
}

.inputTextArea {
	width: 280px;
}

.outputTextArea {
	width: 400px;
	height: 550px;
	margin-left: 20px;
}
